In [100]:
# import os

# import pandas

# df = pandas.read_csv(os.path.join(os.getcwd(),"WorldCupPlayers.csv"))print(df)

# events = list(df["Event"].values)

# events = [event for event in events if isinstance(event,str)]

# split_events = [event.split("") 
#     for event in events]

# parsed_events = []

# # {"goals": [12, 15], "yellows": [1, 90], ...}
# for split_event in split_events:
#    parsed_event = {}
  
# for event in split_event:
#     cleaned_event = event.replace("'","")

# try:
#     character = cleaned_event[0]
#     minutes = int(cleaned_event[1:-1])

# if character == "G":
#     if "goals" not in parsed_event:
#         parsed_event["goals"] = []


               
# parsed_event["goals"].append(minutes)

           
# if character == "Y":
#     if "yellow" not in parsed_event:
#         parsed_event["yellow"] = []

               
# parsed_event["yellow"].append(minutes)

# except:
#     pass


   
# print(parsed_event)


   
# parsed_events.append(parsed_events)

In [1]:
import pandas as pd
import numpy as np
import fnmatch as fnm

df_players = pd.read_csv('C:\\Users\\luis1\\OneDrive\\Documents\\Learning\\WorldCupPlayers.csv')

df_players.tail(5)

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
37779,255959,300186501,ARG,SABELLA Alejandro (ARG),N,19,ALVAREZ,NaN,NaN
37780,255959,300186501,GER,LOEW Joachim (GER),N,6,KHEDIRA,NaN,NaN
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65'
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN

In [2]:
# df_matches['Referee'].str.split(pat ='(').str[0]
# df_players[[[[[[['Event1', 'Event2', 'Event3', 'Event4', 'Event5', 'Event6']]]]]]] = 

player_expand = df_players['Event'].str.split(" ", expand=True)

df_players = pd.concat([df_players, player_expand], axis=1)

df_players

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event,0,1,2,3,4
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN,NaN,NaN,NaN,NaN,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN,NaN,NaN,NaN,NaN,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40',G40',None,None,None,None
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70',G70',None,None,None,None
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37779,255959,300186501,ARG,SABELLA Alejandro (ARG),N,19,ALVAREZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37780,255959,300186501,GER,LOEW Joachim (GER),N,6,KHEDIRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65',IH46',Y65',None,None,None
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
#use wildcard to make string that starts with G to Goal
def G_check(row):
    if row['Event'].str.startswith('G'):
        return 'Goal'
    else: ''

df_players['Goal_String'] = df_players.apply(G_check, axis=0)

df_players

KeyError: 'Event'

In [86]:
#player goal check condition
#player_goal_check = df_players['0'].str.startswith('G', na=False)
def goal_0():
    if df_players['0'].str.startswith('G'):
        return True
    else: False
df_players['0'] = goal_0

def goal_1():
    if df_players['1'].str.startswith('G'):
        return True
    else: False
df_players['1'] = goal_1

def goal_2():
    if df_players['2'].str.startswith('G'):
        return True
    else: False
df_players['2'] = goal_2

def goal_3():
    if df_players['3'].str.startswith('G'):
        return True
    else: False
df_players['3'] = goal_3

def goal_4():
    if df_players['4'].str.startswith('G'):
        return True
    else: False
df_players['4'] = goal_4

In [87]:
df_players.tail(100)

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event,0,1,2,3,4,0,1,2,3,4
37684,255955,300186490,NED,Louis VAN GAAL (NED),N,17,LENS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<function goal_0 at 0x0000023B2CB2CA40>,<function goal_1 at 0x0000023B2CB2CE00>,<function goal_2 at 0x0000023B2CB2F920>,<function goal_3 at 0x0000023B2CB2FF60>,<function goal_4 at 0x0000023B2CB2D8A0>
37685,255955,300186490,ARG,SABELLA Alejandro (ARG),N,19,ALVAREZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<function goal_0 at 0x0000023B2CB2CA40>,<function goal_1 at 0x0000023B2CB2CE00>,<function goal_2 at 0x0000023B2CB2F920>,<function goal_3 at 0x0000023B2CB2FF60>,<function goal_4 at 0x0000023B2CB2D8A0>
37686,255955,300186490,NED,Louis VAN GAAL (NED),N,19,HUNTELAAR,NaN,I96' Y105',I96',Y105',None,None,None,<function goal_0 at 0x0000023B2CB2CA40>,<function goal_1 at 0x0000023B2CB2CE00>,<function goal_2 at 0x0000023B2CB2F920>,<function goal_3 at 0x0000023B2CB2FF60>,<function goal_4 at 0x0000023B2CB2D8A0>
37687,255955,300186490,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,I82',I82',None,None,None,None,<function goal_0 at 0x0000023B2CB2CA40>,<function goal_1 at 0x0000023B2CB2CE00>,<function goal_2 at 0x0000023B2CB2F920>,<function goal_3 at 0x0000023B2CB2FF60>,<function goal_4 at 0x0000023B2CB2D8A0>
37688,255955,300186490,NED,Louis VAN GAAL (NED),N,21,MEMPHIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<function goal_0 at 0x0000023B2CB2CA40>,<function goal_1 at 0x0000023B2CB2CE00>,<function goal_2 at 0x0000023B2CB2F920>,<function goal_3 at 0x0000023B2CB2FF60>,<function goal_4 at 0x0000023B2CB2D8A0>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37779,255959,300186501,ARG,SABELLA Alejandro (ARG),N,19,ALVAREZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<function goal_0 at 0x0000023B2CB2CA40>,<function goal_1 at 0x0000023B2CB2CE00>,<function goal_2 at 0x0000023B2CB2F920>,<function goal_3 at 0x0000023B2CB2FF60>,<function goal_4 at 0x0000023B2CB2D8A0>
37780,255959,300186501,GER,LOEW Joachim (GER),N,6,KHEDIRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<function goal_0 at 0x0000023B2CB2CA40>,<function goal_1 at 0x0000023B2CB2CE00>,<function goal_2 at 0x0000023B2CB2F920>,<function goal_3 at 0x0000023B2CB2FF60>,<function goal_4 at 0x0000023B2CB2D8A0>
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65',IH46',Y65',None,None,None,<function goal_0 at 0x0000023B2CB2CA40>,<function goal_1 at 0x0000023B2CB2CE00>,<function goal_2 at 0x0000023B2CB2F920>,<function goal_3 at 0x0000023B2CB2FF60>,<function goal_4 at 0x0000023B2CB2D8A0>
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<function goal_0 at 0x0000023B2CB2CA40>,<function goal_1 at 0x0000023B2CB2CE00>,<function goal_2 at 0x0000023B2CB2F920>,<function goal_3 at 0x0000023B2CB2FF60>,<function goal_4 at 0x0000023B2CB2D8A0>
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<function goal_0 at 0x0000023B2CB2CA40>,<function goal_1 at 0x0000023B2CB2CE00>,<function goal_2 at 0x0000023B2CB2F920>,<function goal_3 at 0x0000023B2CB2FF60>,<function goal_4 at 0x0000023B2CB2D8A0>

In [72]:
# def player_goal_check(row):
#     if row['0'].str.startswith('G', False):
#         return True
    
#     elif row['1'].str.startswith('G', False):
#         return True
    
#     elif row['2'].str.startswith('G', False):
#         return True
    
#     elif row['3'].str.startswith('G', False):
#         return True
    
#     elif row['4'].str.startswith('G', False):
#         return True
    
#     else: ''

# df_players['Player']





# def team_check(row):
#     if row['Home_Team_Goals'] > row['Away_Team_Goals']:
#         return row['Home_Team']
    
#     elif row['Home_Team_Goals'] < row['Away_Team_Goals']:
#         return row['Away_Team'] 

#     elif row['Away_Team'] in row['Win_Conditions']:
#         return row['Away_Team']
    
#     elif row['Home_Team'] in row['Win_Conditions']:
#         return row['Home_Team']

#     else: ''

# df_matches_new['Winner'] = df_matches_new.apply(team_check, axis = 1)

# df_matches_new.tail(10)

2

In [64]:
# #define string to keep together in same column
# string_keep = ['G']

# #split column and create separate columns for values containing 'G' which stands for Goals
# df_players['Goals'] = np.where(df_players['Event'].str.contains('G'), df_players['Event'], np.nan)
# df_players['Other'] = np.where(df_players['Event'].str.contains('G'), np.nan, df_players['Event'])

# df_players

In [65]:
df_players.to_csv(r'C:\Users\luis1\OneDrive\Documents\Learning\Python-VSCode\WorldCupPlayers_df.csv')